<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > Calcolatrice  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
     <p> blocco calcolatrice</p>
  </div>

<ion-app>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-note>selezionare la modalità</ion-note>
          <br>
          <ion-menu-toggle auto-hide="false" *ngFor="let item of dataCalcList" >

            <ion-item routerDirection="root" [routerLink]="[item.url]"  lines="none" detail="false" routerLinkActive="selected" >
              <ion-icon slot="start" [ios]="item.icon + '-outline'" [md]="item.icon + '-sharp'" ></ion-icon>

              <ion-label > {{item.typeName}} </ion-label>
            </ion-item>

          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>

  <ion-router-outlet id="main-content">
  </ion-router-outlet>
</ion-split-pane>
</ion-app>
